# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
target/
**/out/

### NetBeans ###
/nbproject/private/
/build/
/docs/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode

### System Files ###
.DS_Store
Thumbs.db

### Custom ###
bin/
!/assembly/bin
tmp/
logs/
*.bak
*.log
gradle-local.properties

/RedisClusterSrping
